<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>

  <h1 class="listado-title">LISTADO DE PRODUCTOS</h1>
  <% if (locals.user && locals.user.category_id===9) { %>
    <div class="create-product-button-container">
      <a href="/products/create"><button class="create-product-button">Nuevo Producto</button></a>
    </div>
  <% } %>
  <br>
  <div class="search-product-container">
    <form action="/products" method="POST">
      <label for="search">
        <input type="text" name="search" id="search" placeholder="Buscar producto" class="barra-search"><button type="submit" class="boton-search">Buscar</button>
      </label>
    </form>
  </div>
  <br>
  <div class="listado-articles">
    <% products.forEach(product => { %>
      <article class="listado-articulo">
        <div class="info-listado-container">
          <a class="link-to-detail" href="/products/<%= product.id %> "><div>
            <img class ="imagen-listado" src="images/new-products/<%= product.images %>" alt="Imagen de <% product.name %> ">
            <h2 class="view-product-hidden">Ver Producto</h2>
          </div></a>
          <h4 class="item-name"><%= product.name %> </h4>
          <h5 class="item-price">$<%= product.price %> </h5>
        </div>
        <% if (locals.user && locals.user.category_id===9) { %>
          <div class="edit-product-button-container">
            <a href="/products/edit/<%= product.id %> "><button class="create-product-button">Edit Item</button></a>
          </div>
        <% } %>
      </article>
    <% }) %> 
  </div>

</main> 

<%- include('./partials/footer') %>

</body>
</html>