<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>

  <h1 class="listado-title">LISTADO DE PRODUCTOS</h1>
  <div class="listado-articles">
    <% users.forEach(user => { %>
      <article class="listado-articulo">
        <div class="info-listado-container">
          <a class="link-to-detail" href="/users/<%= user.id %> ">
          <div>
            <img class ="imagen-listado" src="images/user-images/<%= user.profilePic %>" alt="Imagen de <% user.name %> ">
            <h2 class="view-product-hidden">Ver Usuario</h2>
          </div></a>
          <h4 class="item-name"><%= user.name %> <%= user.lastName %>  </h4>
          <h5 class="item-price"><%= user.category_id %> </h5>
        </div>
      </article>
    <% }) %> 
  </div>

</main> 

<%- include('./partials/footer') %>

</body>
</html>