<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="delete-product-main-container">
            <h1 class="delete-product-title">Are you sure you want to delete <%= theProduct.name %>?</h1><br>
            <h2 class="delete-product-message">This action cannot be undone</h2><br>
            <div class="delete-product-button-container">
                <form action="/products/delete/<%= theProduct.id %>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>
</html>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sequi veritatis ratione quasi facilis perferendis, optio esse pariatur vero laborum, quas nam quo cupiditate laudantium aut autem in magni voluptate!