<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>

<main>
    <% if(locals.successMsg){ %>
        <div class="loggedIn-container">
            <h3><%= successMsg %> </h3>
        </div>
    <% } %> 
    <% if(locals.errors && errors.noAdmin){ %>
        <div class="not-admin-container">
            <h3 class="not-an-admin"><%= errors.noAdmin.msg %> </h3>
        </div>
    <% } %> 
    
<header class="slider">
    <div class="overlay-text">
        <p>El toque moderno que estás buscando en tu casa <br> Transformá tus espacios</p>
        <a class="conocenos" href="/aboutUs">Conocenos</a>
    </div>
    <div class="slides">
        <img src="images/imagen-producto/living-tres.jpg" alt="Imagen Slider">    
    </div>
</header>
<br>

    <div class="italian-style">
        <div class="contenedor-producto">
            <img src="images/imagen-producto/sillon-italian.jpg" alt="Sillón Italian">
        </div>

        <div class="descripcion-italian">
            <h2>New Collection</h2>
            <h1>Italian Style 1996</h1>
            <p>Diseño italiano exclusivo importado desde Italia. Estilo vanguardista para otorgar el toque moderno que estás buscando en tu casa. Lorem ipsum dolor sit 1997 bla bla jaja. </p>
            
            <div class="home-buttons">
                <a href="/products"><button class="users-buttons">Ver Colección</button></a>
                <a href="/products"><button class="users-buttons">Más Estilos</button></a>
            </div>

        </div>
        
    </div>

<div class= "categorias-conteiner">
    <div class="categorias-home">
        <div class="categorias-image">
            <form action="/products" method="GET">
                <button type="submit" value="french">French</button>
                <img src="images/imagen-producto/maceta-linda.jpg" alt="maceta">
            </form>
        </div>
        <div class="categorias-image">
            <form action="/products" method="GET">
                <button type="submit" value="latin">Latin American</button>
                <img src="images/imagen-producto/silla-naranja.jpg" alt="silla naranja">
            </form>
        </div>
        <div class="categorias-image">
            <form action="/products" method="GET">
                <button type="submit" value="canadian" style="text-shadow: 1px 0px 20px black">Canadian</button>
                <img src="images/imagen-producto/lampara-simple.jpg" alt="lampara simple">
            </form>
        </div>
    </div>

</div>




<div class= "alsolike-container">
    <a href="/products"  style="text-decoration: none">
        <h1 class="center" style="color:black">También Puede Gustarte</h1>
       
        <br>
        
        <div class="also-like">
        
        <article class="articulo">
        
        <img class="imagen-alsolike" src="images/imagen-producto/escritorio-white.jpg" alt="Imagen del escritorio">
    
        </article>
        
        <article class="articulo">
        
            <img class="imagen-alsolike" src="images/imagen-producto/sillon-pringles.jpg" alt="Imagen de Sillón Pringles">
            
            
            </article>
        
        <article class="articulo">
        
            <img class="imagen-alsolike" src="images/imagen-producto/sillon-divan.jpg" alt="Imagen de Diván">
                
            
                </article>
        
                
        
        </div>
    </a>
</div>
        
   

    
        

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>
