<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <main>
            <% if (locals.errors && errors.email) { %>
                <p><%= errors.email.msg %> </p>
                <% } %> 
            <div class="contenedor_login">
            <div class="main-instructions-container">
                <h2 class="login">Log in</h2>
                <p>Ingresa tu correo/usuario y contraseña</p>
            </div>
            <form class="main-login-form" action="/login" method="POST">
                    <div class="main-inputs-container">
                        <div class="email-input-login">
                            <label for="email"></label>
                            <input type="email" name="email" id="email" placeholder="Correo">
                            <% if(locals.errors && errors.email){ %>
                                <div class="errors-container">
                                    <p style="color: red;"><%= errors.email.msg %> </p>
                                </div>
                            <% }else if(locals.errors && errors.noUser){ %>
                                <div class="errors-container">
                                    <p style="color: red;"><%= errors.noUser.msg %> </p>
                                </div>
                            <% } %> 
                        </div>
                        <div class="password-input">
                            <label for="password"></label>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                            <% if(locals.errors && errors.password){ %>
                                <div class="errors-container">
                                    <p style="color: red;"><%= errors.password.msg %> </p>
                                </div>
                            <% } %> 
                            <% if(locals.errors && errors.invalid){ %>
                                <div class="errors-container">
                                    <p style="color: red;"><%= errors.invalid.msg %> </p>
                                </div>
                            <% } %> 
                        </div>                    
                    </div>
                    <div class="toggles-container">
                        <hr>
                        <div class="remindMe-container">
                            <input type="checkbox" name="remindMe" id="remindMe">
                            <label for="remindMe">Recordar mi usuario en este dispositivo </label>
                        </div>
                        <hr>
                    </div>
                    <div class="create-account-button-container">
                        <button type="submit" class="button_login">Iniciar sesion</button>                                              
                    </div>
                    <div class="">
                        <hr>
                        <button><a href="/register"> Crear una cuenta nueva</a></button>
                    </div>
            </form>
        </div>
        </main>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
