<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <% if (locals.errors && errors.email) { %>
            <p><%= errors.email.msg %> </p>
            <% } %> 
        <div class="contenedor_login">
        <div class="main-instructions-container">
            <h1 class="login">Log In</h1>
            <p>Ingres치 tu correo y contrase침a</p>
        </div>
        <form class="main-login-form" action="/login" method="POST">
                <div class="main-inputs-container">
                    <div class="email-input-login">
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="Correo">
                        <% if(locals.errors && errors.email){ %>
                            <div class="errors-container">
                                <p style="color: red;"><%= errors.email.msg %> </p>
                            </div>
                        <% }else if(locals.errors && errors.noUser){ %>
                            <div class="errors-container">
                                <p style="color: red;"><%= errors.noUser.msg %> </p>
                            </div>
                        <% } %> 
                    </div>
                    <div class="password-input">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Contrase침a">
                        <% if(locals.errors && errors.password){ %>
                            <div class="errors-container">
                                <p style="color: red;"><%= errors.password.msg %> </p>
                            </div>
                        <% } %> 
                        <% if(locals.errors && errors.invalid){ %>
                            <div class="errors-container">
                                <p style="color: red;"><%= errors.invalid.msg %> </p>
                            </div>
                        <% } %> 
                    </div>                    
                </div>
                <div class="toggles-container">
                    <div class="remindme-container">
                        <input type="checkbox" name="remindme" id="remindme">
                        <label for="remindme">Recordar mi usuario en este dispositivo </label>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="login-button-container">
                    <button type="submit" class="send-button">Iniciar sesi칩n</button>                                              
                </div>
                <br>
                <div class="create-account-button-container">
                    <a href="/register" class="send-button">Crear una cuenta nueva</a>
                </div>
        </form>
    </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
