<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="main-instructions-container">
            <h1 class="register">Registrate</h1> 
            <br>
            <p>Completá los siguientes campos y registrate sin costo</p>
        </div>
        <br>
        
        <br>

        <form class="main-register-form" action="/register" method="POST" enctype="multipart/form-data">
        
   
            <div class="main-inputs-container">
                <div class="name-input">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre" required>
                    <% if (locals.errors && errors.name) { %>
                        <div class="errors-container">
                            <p style="color: red;"><%= errors.name.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="lastName-input">
                    <label for="lastName"></label>
                    <input type="text" name="lastName" id="lastName" placeholder="Apellido" required>
                    <% if (locals.errors && errors.lastName) { %>
                        <div class="errors-container">
                            <p style="color: red;"><%= errors.lastName.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="email-input">    
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="e-mail" required>
                    <% if (locals.errors && errors.email) { %>
                        <div class="errors-container">
                            <p style="color: red;"><%= errors.email.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="password-input">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <% if (locals.errors && errors.password) { %>
                        <div class="errors-container">
                            <p style="color: red;"><%= errors.password.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="repassword-input">
                    <label for="repassword"></label>
                    <input type="password" name="repassword" id="repassword" placeholder="Verificar contraseña" required>
                    <% if (locals.errors && errors.repassword) { %>
                        <div class="errors-container">
                            <p style="color: red;"><%= errors.repassword.msg %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="add-profile-pic">
                    <div class="profilePic">
                        <label for="profilePic"></label>
                        <input type="file" name="profilePic">
                        <% if (locals.errors && errors.profilePic) { %>
                            <div class="errors-container">
                                <p style="color: red;"><%= errors.profilePic.msg %> </p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="toggles-container">
                <br>
                <div class="t-and-c-container">
                    <input type="checkbox" name="t-and-c" id="t-and-c">
                    <label for="t-and-c">He leído y accepto los <a href="#">Términos & Condiciones</a></label>
                </div>
                <br>
                <div class="newsletter-container">
                    <input type="checkbox" name="newsletter" id="newsletter">
                    <label for="newsletter">Inscribirme al Newsletter de LUXER</label>
                </div>
                <br>
                <hr>
            </div>
            <br>
           
                <div class="field">
                    <button class = "send-button" type="submit">Creá tu Cuenta</button>
                </div>
            
        </form>
    </main>

    <%- include ('./partials/footer') %> 

</body>
</html>