<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>
    <div class="conteiner-pd">
        <img class="imagen-producto-pd" src="/images/user-images/<%= user.profilePic %> " alt="Imagen del usuario <%= user.name %> " style="background: rgb(190, 182, 182)"><br>
        <div class="user-info-container-ud">
            <h1><%= user.name %> <%= user.lastName %> </h1> <br>
            <% if(user.category === 9){ %>
                <h3 class="h2precio">Administrador</h3>
            <% } %>
            <br>
            <% if (locals.user) { %>
                <div class="edit-product-button-container">
                    <br>
                    <a href="/users/edit/<%= user.id %> "><button class="users-buttons">Edit Info</button></a>
                    <hr>
                    <a href="/logout"><button class="users-buttons">Logout</button></a>
                </div>
            <% } %>
            <% if (locals.user.category_id === 9) { %>
                <div class="button-container">
                    <a href="/users"><button class="users-buttons">Ver Usuarios</button></a>
                </div>
            <% } %>
        </div>
    </div>


<!--

<h2 class="center">Más Usuarios</h2>
<br>

<div class="also-like">

<article class="articulo">

<img class="imagen-alsolike" src="images/user-images/marge-simpson.jpg" alt="Marge">
<br>
<div class="info-alsolike">
<h4>Marge Simpson</h4>
<h5>Administrador</h5>
</div>

</article>


<article class="articulo">

    <img class="imagen-alsolike" src="images/user-images/mr-burns.webp" alt="Burns">
    <br>
    <br>
    <div class="info-alsolike">
    <h4>Mr. Burns</h4>
    <h5>Administrador</h5>
    </div>
    </article>

<article class="articulo">

    <img class="imagen-alsolike" src="images/user-images/ned-flanders.webp" alt="Ned">
    <br>
        <div class="info-alsolike">
        <h4>Ned Flanders</h4>
        <h5>Estándar</h5>
        </div>
        </article>

        

</div>


-->

</main> 

<%- include('./partials/footer') %>

</body>
</html>